display RFC tab by default in the "Understanding our documents" section

## URL

https://beta.ietf.org/

## Expected Behavior

Display the RFC tab by default on the front page of the website
Also note some important RFCs are RFC 793 (TCP), RFC 2616 (HTTP 1.1) and RFC 5246 (TLS 1.2) in the initial text

## Actual Behavior

Internet-Drafts is currently displayed by default

## Reproducing

- Browser:
- OS: [Operating System name] [Version]
- (anything else you think we might need to reproduce this)

added as a feature request for Torchbox (https://projects.torchbox.com/projects/ietf/tickets/177)