Informal process guide: content out of date

## URL
https://beta.ietf.org/standards/informal-process/

## Expected Behavior
Up to date and easy to read.

## Actual Behavior
1) The formatting looks ugly to me; needs  a do-over of some kind. (I still have the underlying XML source).
2) A few words have been dropped here and there.
3) Out of date. I have a list of new/updated RFCs to be worked in:
      RFC 7649, The Jabber Scribe Role at IETF Meetings
      BCP 25, RFC 7776, IETF Anti-Harassment Procedures
      BCP 101, RFC 7691, Updating the Term Dates of IETF Administrative Oversight Committee (IAOC) Members
      BCP 205, RFC 7942 on Improving Awareness of Running Code: The Implementation Status Section
      BCP 97, RFC 8067 on Updating When Standards Track Documents May Refer Normatively to Documents at a Lower Level
      BCP 14, RFC 8174 on RFC 2119 Key Words: Clarifying the Use of Capitalization
      BCP 79, RFC 8179 on Intellectual Property Rights in IETF Technology
      BCP 26, RFC 8126 on Guidelines for Writing an IANA Considerations Section in RFCs

## Reproducing
- Browser: any...
- OS: any... especially bad on Android phone


Thanks for the review this has been added to the list of pages to receive a refresh (noted in the content tracking sheet).